body {
  font-family:"Times New Roman", Times, serif;
  background-color: #F8F8F8;
}

img {
  width: 100px;
}

body {
  background-image: url("./images/world_map.png");
  width: auto;
  height: auto;
}
